*{
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
}
.carousel-caption{
    color: black;
    font-size: 150px;
    justify-content: center;
    align-items: center;
    width: 70%;

}
#banner1{
    height: 20rem;
}
#banner2{
    height: 20rem;
}
#banner3{
    height: 20rem;
}
#banner4{
    height: 20rem;
}
#banner5{
    height: 20rem;
}


#text{
    color: white;
}

.form{
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 2rem;
}

.table{
    margin-top: 2rem;
    border-color: black;
    border-style: double;

}

#Cardetails{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.img1{
    margin-top: 2rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
    border-style: double;
    width: 90%;
    height: 80%;
}

section{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.card{
    background-color: bisque;
    width: 18rem;
    margin-top: 2rem;
    margin-left: 3rem;
}
